application.wadl

<application xmlns="http://wadl.dev.java.net/2009/02"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<resources base="%s">
		<resource path="query">
			<method href="#queryGET"/>
			<method href="#queryPOST"/>
		</resource>
		<resource path="localconfig">
			<method name="GET">
				<response>
					<representation mediaType="text/xml"/>
				</response>
			</method>
		</resource>
		<resource path="version">
			<method name="GET">
				<response>
					<representation mediaType="text/plain"/>
				</response>
			</method>
		</resource>
		<resource path="application.wadl">
			<method name="GET">
				<response>
					<representation mediaType="application/xml"/>
				</response>
			</method>
		</resource>
	</resources>
	<method name="GET" id="queryGET">
		<request>
			<param name="service" style="query" type="xsd:string" default="dataselect">
			  <option value="xml"/>
			  <option value="json"/>
		  	<option value="get"/>
	  		<option value="post"/>
  		</param>
			<param name="starttime" style="query" type="xsd:dateTime" default="1980-01-01T00:00:00"/>
			<param name="endtime" style="query" type="xsd:dateTime" default="%s"/>
			<param name="network" style="query" type="xsd:string" default="*"/>
			<param name="station" style="query" type="xsd:string" default="*"/>
			<param name="location" style="query" type="xsd:string" default="*"/>
			<param name="channel" style="query" type="xsd:string" default="*"/>
			<param name="format" style="query" type="xsd:string" default="xml">
  			<option value="xml"/>
	  		<option value="json"/>
		  	<option value="get"/>
			  <option value="post"/>
			</param>
		</request>
		<response status="200">
			<representation mediaType="text/plain"/>
		</response>
		<response status="204 400 401 403 404 413 414 500 503">
			<representation mediaType="text/plain"/>
		</response>
	</method>
	<method name="POST" id="queryPOST">
		<response status="200">
			<representation mediaType="text/plain"/>
		</response>
		<response status="204 400 401 403 404 413 414 500 503">
			<representation mediaType="text/plain"/>
		</response>
	</method>
</application>
